body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
   
}
H1 {
    text-align: center;
}
section {
    background: white;
    padding: 20%;
    margin-bottom: 20px;

}